node_modules
**/node_modules
dist
**/dist
.env
**/.env
server/prisma/dev.db
server/prisma/dev.db-journal
server/uploads/originals/*
server/uploads/pieces/*
!server/uploads/originals/.gitkeep
!server/uploads/pieces/.gitkeep
.git
